* {
  margin: 0;
  padding: 0;
}
body {
  background:rgb(2, 78, 15);
}
div{
  margin: 40px 0;
}
a {
  text-decoration: none;
  color:#aaa;
}
h1 {
  text-align: center;
  color:#fff;
  margin: 20px 0;
 
}
table {
  margin:0 auto;
  width: 800px;
  border-collapse: collapse;
}
th {
  padding: 10px;
  background: purple;
  color:gold;
  font-size: 20px;
}
td,th {
  border:1px solid #ccc;
}
td {
  padding:10px;
  color:#666;
  text-align: center;
  font-size: 16px;
}
tbody tr {
  background: #fff;
}
tbody tr:hover {
  background: gold;
}
